* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Homepage.jsx  */

.home {
  background-color: #ffc254;
}

.siteBanner {
  width: 100%;
  height: 500px;
  object-fit: contain;
}

/* AllProducts.jsx */

.allProducts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0 0 10px 0;
  margin: 0 10px 10px 0;
}

.products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  margin: 10px;
}

.products a {
  text-align: center;
  font-weight: 700;
  color: rgb(0, 0, 0);
}
.products li {
  list-style-type: none;
  text-align: center;
}

.productImages {
  width: 200px;
  height: 200px;
  padding: 10px;
  object-fit: contain;
}

/* Navigation.jsx  */

.navigation {
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
  background-color: floralwhite;

  padding: 10px;
}

.navigation li {
  list-style-type: none;
}

.navigation a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 700;
  text-transform: uppercase;
}
